html, body {
	font-family: system-ui;
}
body {
	background: fixed;
	background-color: rgb(0, 22, 43);
	background-image: url(../background.png);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, th {
    font-family: system-ui;
    font-weight: normal;
}
