@import './base.css';
body,
html {
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
header h2,
header h4 {
    display: inline-flex;
    margin: 0;
}
header h4 {
    opacity: 0.8;
}
header h5 {
    /* font-weight: bold; */
    color: gray;
    margin-top: 0;
    transition-duration: 0.5s;
    /* font-style: italic; */
}

nav a {
    padding: 12px 30px;
    display: block;
    text-decoration: none;
    color: white;
    max-width: 100%;
}
nav a * {
    transition: 400ms;
}
nav a.disabled {
    color: gray;
}
nav a:hover {
    background: rgba(255, 255, 255, 0.2);
}
nav a div {
    height: 26px;
    display: inline-block;
    vertical-align: bottom;
}

footer {
    position: fixed;
    right: 2em;
    bottom: 2em;

    text-align: right;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}
footer a {
    color: rgba(255, 255, 255, 0.8);
}
[data-alt-right]::after {
    content: attr(data-alt-right);
    margin-left: 5px;
    text-align: left;
}
[data-alt-left]::before {
    content: attr(data-alt-left);
    margin-right: 5px;
    text-align: right;
}
[data-alt-left]::before,
[data-alt-right]::after {
    /* overflow: hidden; */
    max-width: 175px;
    animation-name: slide;
    animation-duration: 0.75s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    display: inline-flex;
}
@media screen and (max-width: 760px) {
    nav h5,
    [data-alt-left]::before,
    [data-alt-right]::after footer {
        display: none;
    }
}
@keyframes slide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        max-width: 0;
        height: 0;
    }
}

footer nav {
    text-align: left;
}
