a {text-decoration: none;}
main {
	margin-top: 60px !important;
	margin-bottom: 60px !important;
	border-radius: 2px;
	padding: 40px 50px 60px;
	background-color: rgba(255, 255, 255, 0.1);
}
.page-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: white;
	margin-bottom: 24px;
}
.progress {
	position: absolute;
	margin-top: 16px;
	margin-left: -20px;
}
.motto {
	font-size: 16px;
	margin-bottom: -14px;
	color: white;
}

.s-green {color: green;}
.s-orange {color: orange;}
.s-red {color: red;}
.s-gray {color: gray;}
.right {float:right;}
.del {text-decoration: line-through;}
.italic {font-style: italic;}

@media screen and (max-width: 560px) {
	main {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
		padding-left: 0px;
		padding-right: 0px;
		background-color: transparent !important;
	}
}