a {text-decoration: none;}
h3, h4, h6 {font-family: "Noto Sans CJK SC Light", "Microsoft Yahei Light", sans-serif;}
.page-main {
	margin-top: 2.5vh;
	flex-shrink: 0;
}
.page-container {
	max-width: 1600px;
	width: calc(100% - 16px);
	margin: 0 auto;
}
.page-content {
	border-radius: 2px;
	padding: 80px 56px 20px;
	margin-bottom: 40px;
	background-color: rgba(255, 255, 255, 0.1) !important;
}
.page-content h3 {
	margin-top: 0px;
	color: white;
}
.item {
	margin-bottom: 2em;
	min-height: 0px;
}
.item-example {
	display: none;
}
.full-width {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9) !important;
}
.item-content, .item-content li {
	color: #333;
	font-size: 16px;
}
.item-title h4 {
	margin: 0;
}
.item-title h4 a {
	color: black;
}
#motto, #weekMsg {
	color: white;
	float: right;
	margin-top: 0px;
}

.green {color: green;} .orange {color: orange;} .red {color: red;} .gray {color: gray;}
.right {float:right;} .del {text-decoration: line-through;} .italic {font-style: italic;}
.leftAlign td, .leftAlign th {text-align: left;}
td {font-size: 18px;}

.sub {padding-left: 1em;}
@media screen and (max-width: 560px) {
	.page-content {
		padding-left: 0px;
		padding-right: 0px;
		background-color: transparent !important;
	}
	.sub {padding-left: 0.5em;}
}